h2 {
  color: #333;
  text-align: center;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  cursor: pointer;
}

.article-item h3 {
  color: #007bff;
  margin-top: 0;
}

.article-item p {
  margin: 5px 0;
}
