/* styles.css */

h2 {
  color: #333;
  text-align: center; /* Centriranje naslova */
}

.article-list {
  display: flex;
  flex-wrap: wrap; /* Omogućava da se article-item elementi wrapuju na novi red ako nema dovoljno prostora */
  justify-content: center; /* Centriranje article-item elemenata */
}

.article-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px; /* Margina između article-item elemenata */
  width: calc(50% - 20px); /* Širina article-item-a */
  box-sizing: border-box; /* Da se padding ne dodaje na širinu elementa */
}

.article-item h3 {
  color: #007bff;
  margin-top: 0; /* Uklanja gornji padding od h3 elementa */
}

.article-item p {
  margin: 5px 0;
}
