<div class="article">
  <h2>{{ article.naslov }}</h2>
  <p class="article-info">
    <strong>Datum kreiranja:</strong>
    {{ article.datumKreiranja | date : "medium" }}
  </p>

  <p class="article-text"><strong>Tekst članka:</strong></p>
  <p class="article-text">{{ article.tekst }}</p>

  <h3>Turističke aktivnosti:</h3>
  <ul class="aktivnostiCss">
    <li *ngFor="let activity of activities">
      <a [routerLink]="['/aktivnost', activity.id]">{{ activity.naziv }}</a>
    </li>
  </ul>

  <h3>Komentari</h3>
  <form (submit)="addComment()">
    <input
      type="text"
      placeholder="Ime čitaoca"
      [(ngModel)]="newCommentName"
      [ngModelOptions]="{ standalone: true }"
      required
    />
    <textarea
      placeholder="Tekst komentara"
      [(ngModel)]="newCommentText"
      [ngModelOptions]="{ standalone: true }"
      required
    ></textarea>
    <button type="submit">Dodaj komentar</button>
  </form>

  <div class="comments">
    <div *ngFor="let comment of comments" class="comment">
      <p>
        <strong>{{ comment.ime_autora }}</strong> - {{ comment.tekst }}
      </p>
      <p>
        <em>{{ comment.datumKreiranja | date : "medium" }}</em>
      </p>
    </div>
  </div>
</div>
