<div class="article">
  <h2>{{ article.naslov }}</h2>
  <p>
    <strong>Datum kreiranja:</strong>
    {{ article.datumKreiranja | date : "medium" }}
  </p>
  <p><strong>Ime autora:</strong> {{ getAuthorName(article.autorId) }}</p>
  <p><strong>Tekst članka:</strong></p>
  <p>{{ article.tekst }}</p>

  <h3>Turističke aktivnosti:</h3>
  <ul>
    <li *ngFor="let activity of activities">{{ activity.naziv }}</li>
  </ul>

  <h3>Komentari</h3>
  <!-- <form (submit)="addComment()">
    <input
      type="text"
      placeholder="Ime čitaoca"
      [(ngModel)]="newCommentName"
      required
    />
    <textarea
      placeholder="Tekst komentara"
      [(ngModel)]="newCommentText"
      required
    ></textarea>
    <button type="submit">Dodaj komentar</button>
  </form> -->
  <div class="comments">
    <div *ngFor="let comment of comments" class="comment">
      <p>
        <strong>{{ comment.imeAutora }}</strong> - {{ comment.tekst }}
      </p>
      <p>
        <em>{{ comment.datumKreiranja | date : "medium" }}</em>
      </p>
    </div>
  </div>
</div>
