<mat-dialog-content class="mat-typography">
  <mat-dialog-actions align="center">
    <div class="container" *ngIf="data.title == 'Edit Clanak'">
      <h2>Edit Clanak</h2>
      <form [formGroup]="articleForm" (ngSubmit)="updateClanak()">
        <div class="form-group">
          <label for="naslov">Naslov:</label>
          <input type="text" id="naslov" formControlName="naslov" />
        </div>
        <div class="form-group">
          <label for="tekst">Tekst:</label>
          <textarea id="tekst" formControlName="tekst"></textarea>
        </div>
        <div>
          <label for="tekst">Destinacija:</label>
          <select
            formControlName="destinacija_id"
            (change)="onSelect($event.target)"
          >
            <option value="">Izaberite destinaciju</option>
            <option
              *ngFor="let destinacija of destinations"
              [value]="destinacija.id"
            >
              {{ destinacija.ime }}
            </option>
          </select>
        </div>
        <br /><br />

        <button type="submit" class="btn">Update</button>
      </form>
    </div>

    <div class="container" *ngIf="data.title == 'Add Clanak'">
      <h2>Dodaj Clanak</h2>
      <form [formGroup]="articleForm" (ngSubmit)="addClanak()">
        <div class="form-group">
          <label for="naslov">Naslov:</label>
          <input type="text" id="naslov" formControlName="naslov" />
        </div>
        <div class="form-group">
          <label for="tekst">Tekst:</label>
          <textarea id="tekst" formControlName="tekst"></textarea>
        </div>
        <div>
          <label for="tekst">Destinacija:</label>
          <select
            formControlName="destinacija_id"
            (change)="onSelect($event.target)"
          >
            <option value="">Izaberite destinaciju</option>
            <option
              *ngFor="let destinacija of destinations"
              [value]="destinacija.id"
            >
              {{ destinacija.ime }}
            </option>
          </select>
        </div>
        <br /><br />
        <button type="submit" class="btn">Create</button>
      </form>
    </div>
  </mat-dialog-actions></mat-dialog-content
>
