<h2>Articles</h2>

<table class="articles-table">
  <thead>
    <tr>
      <th>Naslov</th>
      <th>Tekst</th>
      <th>Date Created</th>
      <th>Broj Poseta</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles">
      <td [routerLink]="['/main', article.id]" style="cursor: pointer">
        {{ article.naslov }}
      </td>
      <td>{{ article.tekst }}</td>
      <td>{{ article.datumKreiranja }}</td>
      <td>{{ article.brojPoseta }}</td>
      <td>
        <button (click)="editArticle(article.id)">Edit</button>
        <button (click)="deleteArticle(article.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<button (click)="addArticle()">Add Article</button>
