<nav class="navbar">
  <div class="container">
    <div class="brand">Your CMS</div>
    <ul class="nav-links">
      <li><button [routerLink]="['pocetna']">Pocetna</button></li>
      <li><button [routerLink]="['najcitaniji']">Najcitaniji</button></li>
      <li *ngIf="isLogged">
        <button [routerLink]="['destinacije']">Destinacije</button>
      </li>
      <li *ngIf="isLogged">
        <button [routerLink]="['clanci']">Clanci</button>
      </li>
      <li *ngIf="isAdmin">
        <button [routerLink]="['koricnici']">Korisnici</button>
      </li>
    </ul>
    <div class="user-info">
      <span *ngIf="isLogged">{{ userName }}</span>
      <button *ngIf="!isLogged" [routerLink]="['../login']">Login</button>
      <button *ngIf="isLogged" (click)="logout()" style="background-color: red">
        Logout
      </button>
    </div>
  </div>
</nav>
