<div class="container">
  <h2>{{ isEditMode ? "Edit User" : "Add User" }}</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
    </div>
    <div class="form-group">
      <label for="userType">User Type:</label>
      <select id="userType" formControlName="userType">
        <option value="administrator">Administrator</option>
        <option value="content-editor">Content Editor</option>
      </select>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
    </div>
    <button type="submit" class="btn">
      {{ isEditMode ? "Update" : "Create" }}
    </button>
  </form>
</div>
